*, ::before, ::after {
  --tw-duration: 150ms;
  --tw-animation-delay: 0s;
  --tw-animation-direction: normal;
  --tw-animation-fill-mode: none;
  --tw-animation-iteration-count: 1;
  --tw-enter-blur: 0;
  --tw-enter-opacity: 1;
  --tw-enter-rotate: 0;
  --tw-enter-scale: 1;
  --tw-enter-translate-x: 0;
  --tw-enter-translate-y: 0;
  --tw-exit-blur: 0;
  --tw-exit-opacity: 1;
  --tw-exit-rotate: 0;
  --tw-exit-scale: 1;
  --tw-exit-translate-x: 0;
  --tw-exit-translate-y: 0;

  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-translate-z: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scale-z: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-space-x-reverse: 0;
  --tw-space-y-reverse: 0;
  --tw-border-style: solid;
  --tw-divide-x-reverse: 0;
  --tw-divide-y-reverse: 0;
  --tw-gradient-from: #0000;
  --tw-gradient-via: #0000;
  --tw-gradient-to: #0000;
  --tw-gradient-from-position: 0%;
  --tw-gradient-via-position: 50%;
  --tw-gradient-to-position: 100%;
  --tw-mask-linear: linear-gradient(#fff, #fff);
  --tw-mask-radial: linear-gradient(#fff, #fff);
  --tw-mask-conic: linear-gradient(#fff, #fff);
  --tw-mask-left: linear-gradient(#fff, #fff);
  --tw-mask-right: linear-gradient(#fff, #fff);
  --tw-mask-bottom: linear-gradient(#fff, #fff);
  --tw-mask-top: linear-gradient(#fff, #fff);
  --tw-mask-linear-position: 0deg;
  --tw-mask-linear-from-position: 0%;
  --tw-mask-linear-to-position: 100%;
  --tw-mask-linear-from-color: black;
  --tw-mask-linear-to-color: transparent;
  --tw-mask-radial-from-position: 0%;
  --tw-mask-radial-to-position: 100%;
  --tw-mask-radial-from-color: black;
  --tw-mask-radial-to-color: transparent;
  --tw-mask-radial-shape: ellipse;
  --tw-mask-radial-size: farthest-corner;
  --tw-mask-radial-position: center;
  --tw-mask-conic-position: 0deg;
  --tw-mask-conic-from-position: 0%;
  --tw-mask-conic-to-position: 100%;
  --tw-mask-conic-from-color: black;
  --tw-mask-conic-to-color: transparent;
  --tw-drop-shadow-alpha: 100%;
  --tw-content: "";
  --tw-outline-style: solid;
  --tw-text-shadow-alpha: 100%;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-alpha: 100%;
  --tw-inset-shadow: 0 0 #0000;
  --tw-inset-shadow-alpha: 100%;
  --tw-ring-shadow: 0 0 #0000;
  --tw-inset-ring-shadow: 0 0 #0000;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-offset-shadow: 0 0 #0000;
}

@import "tailwindcss" source(none);
@source "./App.tsx";

@theme {
    --color-kia-black: #05141f;

    --color-kia-gray-50: #f3f4f5;
    --color-kia-gray-100: #ebe6e7;
    --color-kia-gray-200: #cdd0d2;
    --color-kia-gray-400: #8d959a;
    --color-kia-gray-500: #788187;
    --color-kia-gray-600: #636d74;
    --color-kia-gray-700: #4a565e;
    --color-kia-gray-800: #303e48;
    --color-kia-gray-900: #172630;

    --text-5xl: 2.5rem;

    --breakpoint-3xl: 120rem;
}